:root {
  --marginsz: 5%;
  --paddingsz: 5%;
  --widthsz: 90%;
}

/* Changing the border for selected */
@keyframes borderselect- {
  from {
    border-width: 1px;
  }
  to {
    border-width: 3px;
    background-color: lightgreen;
  }
}


@keyframes highlight- {
  from {
    font-weight: 100;
  }
  to {
    font-weight: bold; 
  }
}

/* I made this for practice I think this page would have been fine without keyframes entirely */

@keyframes rotw {
  0%, 50%, 100% {
color: lightgreen; font-weight: bold;
opacity: 1; text-align: center;
}
25%, 75% { color: green; opacity: 0.25; 
text-align: left;
}
40%, 80% { 
color: black; opacity: 0.75; 
text-align: right;
}
/* Takin it back to the late 90s where web design was at it's best... */
}

.rotw{ animation: rotw 3s ease-in-out  infinite reverse;
margin: var(--marginsz);
}




span{
margin-left: auto;
margin-right: auto;
 }
 

.menu{background-color: lightgreen;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.row{

display: flex;
flex-direction: row;
justify-content: space-around;

}




body {
  background-image: url("images/Avocado\ Background.png");
background-size: cover;}

.white {
  box-sizing: border-box;
  background-color: white;
  margin: var(--marginsz);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Add a shadow */
}

.nav {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Add a shadow */
  width: 18%;
  text-align: center;
  border: 1px solid black;
}


h1 {
  padding-top: var(--paddingsz);
  display: block;
  width: var(--widthsz);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-family: "Red Hat Display", sans-serif;
}
.image {
  display: block;
  width: calc(var(--widthsz) - 15%); /* Adjusting the size for the image */
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Add a shadow */
  object-fit: fill; /* Or "contain" or "fill" */
}

.ingredients,
.instructions {
  display: block;
  width: var(--widthsz);
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.seops {
  padding-bottom: var(--paddingsz);
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: var(--widthsz);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

article {
  display: block;
  width: 60%;
  background-color: white;

  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}





.aside {
  display: block;

  width: 20%;
  margin-left: auto;
  margin-right: auto;

  height: auto;
}

.aside img {
  width: calc(var(--widthsz) - 5%);
  height: auto;
}

.aside a {
  text-decoration: none;
  color: inherit;
}

.tumblr {
  padding: var(--paddingsz);
  text-align: center;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Add a shadow */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  margin-left: var(--marginsz);
  margin-right: var(--marginsz);
  padding-top: calc(var(--paddingsz) - 2%);
  padding-bottom: calc(var(--paddingsz) - 2%);

  font-family: "Red Hat Display", sans-serif;
}

.header a {
  text-decoration: none;
  color: inherit;
}

footer {
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
}

/* Medium screens */
@media only screen and (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--widthsz);
    padding-bottom: 10%;
  }
  /* To use more real estate */
  .ingredients,
  .instructions {
    display: block;
    width: var(--widthsz);
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .nav {
    width: calc(var(--widthsz) - 5%);
    min-height: 25%;

    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    min-height: max-content;
  }

  /* Easier to read from the left  */
  h1,
  h2 {
    text-align: left;
  }
}
/* On small devices I want this stacked
I also put the home button on the top
*/

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    width: var(--widthsz);
    height: fit-content;
    justify-content: space-between;
    text-align: center;
    padding-bottom: var(--paddingsz);
  }

  .nav {
    padding: 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Add a shadow */
    width: calc(var(--widthsz) - 5%);
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
  }
  /* Easier to read from the left  */
  h1,
  h2,
  h3,
  h4 {
    text-align: left;
  }
  h1 {
    font-size: 0.65cm;
  }
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--widthsz);
  }

  .image {
    min-height: 45%;
  }

  /* To use more real estate */
  .ingredients,
  .instructions {
    display: block;
    width: var(--widthsz);
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  article {
    display: block;
    width: var(--widthsz);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .aside {
    display: block;
    width: var(--widthsz);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: auto;
  }

  .aside a {
    text-decoration: none;
    color: inherit;
  }
}

/* Selected Nav Item */
.nav:hover {
  border-width: 3px; /* Increase border thickness on hover */
  animation: borderselect- 0.5s forwards;

  cursor: pointer; /* Change the cursor to a hand pointer on hover */
}

/* None of these look good */
.tumblr :hover {
  animation: highlight- 0.5s ease-in-out infinite alternate;
}
